<p>
  Classwatch allows you to monitor a full class at your school and notifies you when a seat
  opens up, so you can grab it right as it opens up.
</p>
<p>
  To get started, log in or create an account using the form below.
</p>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <% if devise_mapping.rememberable? -%>
    <p>
      <%= f.check_box :remember_me %> <%= f.label :remember_me %>
    </p>
  <% end -%>

  <%= f.submit "Sign in", :class => "btn btn-primary" %>

<% end %>

<%= render "links" %>
