<h2>Ok, it looks like you're new here.  We just need to verify a few details and you'll be ready to roll.</h2>
	
<%= form_for User.new, :url => user_registration_url  do |f| %>
  <%= hidden_field :user, :email %>
  <%= hidden_field :user, :password %>
  <%= f.label :password_confirmation, "Confirm password" %>
  <%= f.password_field :password_confirmation %>
  <%= f.label :phone, "Phone number (for text messages)" %>
  <%= f.text_field :phone %>
  <span id="phone-errors"></span>
  <h2>If you'd like to watch a class right away, put in its info below</h2>
  <%= render(partial: "classes/course", object: Course.new, locals: { button_name: "Go", action: :create }) %>
<% end %>
