Ok, it looks like you're new here.  We just need to verify a few details and you'll be ready to roll.
	
<%= form_for User.new, :url => user_registration_url  do |f| %>
  <%= hidden_field :user, :email %>
  <%= hidden_field :user, :password %>
  <%= f.label :password_confirmation, "Confirm password" %>
  <%= f.password_field :password_confirmation %>
  <%= f.label :phone, "Phone number (for text messages)" %>
  <%= f.text_field :phone %>
  <h2>If you'd like to watch a class right away, put in its info below</h2>
  <%= f.label :term %>
  <%= collection_select :course, :term_code, @terms, :term_code, :name %>
  <%= f.label :course_number, "Class Numer" %>
  <%= text_field_tag :course_number %>
  <%= f.submit "Go" %>
<% end %>
