<h2>Ok, it looks like you're new here.  We just need to verify a few details and you'll be ready to roll.</h2>
	
<%= form_for User.new, :url => user_registration_url  do |f| %>
  <%= hidden_field :user, :email %>
  <%= hidden_field :user, :password %>
  <%= f.label :password_confirmation, "Confirm password" %>
  <%= f.password_field :password_confirmation %>
  <%= f.label :phone, "Phone number (for text messages)" %>
  <%= f.text_field :phone %>
  <h2>If you'd like to watch a class right away, put in its info below</h2>
  <%= f.label :term %>
  <%= collection_select :course, :term_id, @terms, :term_id, :name %>
  <%= f.label :course_number, "Class Numer" %>
  <%= text_field :course, :course_number, "lookup-url" => lookup_class_url(":school_id", ":term_id", ":course_number") %>
  <%= image_tag "spinner.gif", :id => "spinner" %>
  <span id="courseName"></span>
  <div class="form-actions">
    <%= f.submit "Go", class: "btn btn-primary" %>
  </div>
<% end %>
