<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <%= f.label :phone, "Phone number (for text messages)" %>
  <%= f.text_field :phone %>
  <span id="phone-errors"></span>
  <h2>If you'd like to watch a class right away, put in its info below</h2>
  <%= render(partial: "classes/course", object: Course.new, locals: { button_name: "Go", action: :create }) %>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
