  <div>
    <% if @user.user_courses.length > 0 %>
      <p>You are watching the following courses</p>
      <table class="table">
        <thead>
          <tr>
            <th>Term</th>
            <th>Course number</th>
            <th>Name</th>
            <th>Schedule</th>
          </tr>
        </thead>
        <% @user.user_courses.each do |user_course| %>
          <tr>
            <td><%= user_course.course.term.name %></td>
            <td><%= user_course.course.course_number %></td>
            <td><%= user_course.course.get_class_info.name %></td>
            <td><%= user_course.course.get_class_info.schedule %></td>
            <td>
              <% if user_course.notifier_enabled?("EMAIL") then %>
                <i class="icon-envelope"></i>
              <% end %>
              <% if user_course.notifier_enabled?("SMS") then %>
                <i class="icon-comment"></i>
              <% end %>
            </td>
            <td><%= link_to "Edit", edit_class_path(user_course.course), :class => "btn" %></td>
            <td><%= link_to "Cancel", {:controller => :classes, :action => :destroy, :id => user_course.course.id}, {:method => :delete, :confirm => "Are you sure you want to stop watching this class?", :class => "btn btn-danger"} %></td>
          </tr>
        <% end %>
      </table>
    <% else %>
      You are not currently watching any classes.  Add one below.
    <% end %>
    <h2>Add a class</h2>
    <% if @terms.length > 0 %>
      <%= render(partial: "classes/course", object: Course.new, locals: { button_name: "Add", action: :create }) %>
    <% else %>
        There are no terms available right now.  Terms become available as soon as the schedule is published.
    <% end %>
  </div>
  <div>
    <h2>Notifications</h2>
    <% if @notifications.length > 0 %>
      <table>
        <% @notifications.each do |notification| %>
          <tr>
            <td><%= notification.course.course_number %></td>
            <td><%= Notifiers[notification.type].description %></td>
            <td><%= time_ago_in_words notification.notification_timestamp %> ago</td>
          </tr>
        <% end %>
      </table>
    <% else %>
      You have not received any notifications yet.
    <% end %>
  </div>
