  <div>
    <% if @user.user_courses.length > 0 %>
      <p>You are watching the following courses</p>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Term</th>
            <th>Course number</th>
            <th>Name</th>
            <th>Schedule</th>
          </tr>
        </thead>
        <% @user.user_courses.each do |user_course| %>
          <tr>
            <td>
              <% if !user_course.notifications.empty? %>
                <a class="badge" data-toggle="modal" href="#notifications-modal-<%= user_course.id %>">
                  <%= user_course.notifications.count %>
                </a>
              <% end %>
            </td>
            <td><%= user_course.course.term.name %></td>
            <td><%= user_course.course.course_number %></td>
            <td><%= get_class_info(user_course.course).name %></td>
            <td><%= get_class_info(user_course.course).schedule %></td>
            <td>
              <% if user_course.notifier_enabled?("EMAIL") then %>
                <i class="icon-envelope"></i>
              <% end %>
              <% if user_course.notifier_enabled?("SMS") then %>
                <i class="icon-comment"></i>
              <% end %>
            </td>
            <td><%= link_to "Edit", edit_class_path(user_course.course), :class => "btn" %></td>
            <td><%= link_to "Cancel", {:controller => :classes, :action => :destroy, :id => user_course.course.id}, {:method => :delete, :confirm => "Are you sure you want to stop watching this class?", :class => "btn btn-danger"} %></td>
          </tr>
        <% end %>
      </table>
    <% else %>
      You are not currently watching any classes.  Add one below.
    <% end %>
    <h2>Add a class</h2>
    <% if @terms.length > 0 %>
      <%= render(partial: "classes/course", object: Course.new, locals: { button_name: "Add", action: :create }) %>
    <% else %>
        There are no terms available right now.  Terms become available as soon as the schedule is published.
    <% end %>
  </div>
  <% @user.user_courses.each do |user_course| %>
    <% notifications = user_course.notifications %>
    <% if !notifications.empty? %>
      <div class="modal fade" id="notifications-modal-<%= user_course.id %>" style="display:none;">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">×</a>
          <h3>Notifications</h3>
        </div>
        <div class="modal-body">
          <table class="table">
            <thead>
              <tr>
                <th>Type</th>
                <th>When</th>
                <th>Status</th>
              </tr>
            </thead>
            <% notifications.each do |notification| %>
              <tr>
                <td>
                  <% if notification.type == "EMAIL" then %>
                    <i class="icon-envelope"></i>
                  <% elsif notification.type == "SMS" then %>
                    <i class="icon-comment"></i>
                  <% end %>
                </td>
                <td><%= time_ago_in_words notification.notification_timestamp %> ago</td>
                <td><%= notification.status %></td>
              </tr>
            <% end %>
          </table>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
        </div>
      </div>
    <% end %>
  <% end %>
