<% if @user %>
  <% if @user.user_courses.length > 0 %>
    <p>You are watching the following courses</p>
    <table class="table class-table">
      <thead>
        <tr>
          <th></th>
          <th>Term</th>
          <th>Course number</th>
          <th>Name</th>
          <th>Schedule</th>
        </tr>
      </thead>
      <% @user.user_courses.each do |user_course| %>
        <tr>
          <td>
            <% if !user_course.notifications.empty? %>
              <a class="badge" data-toggle="modal" href="#notifications-modal-<%= user_course.id %>">
                <%= user_course.notifications.count %>
              </a>
            <% end %>
          </td>
          <td><%= user_course.course.term.name %></td>
          <td><%= user_course.course.input_1 %></td>
          <td><%= get_class_info(user_course.course).name %></td>
          <td><%= get_class_info(user_course.course).schedule %></td>
          <td class="notifier-icons">
            <% if user_course.notifier_enabled?("EMAIL") then %>
              <i class="icon-envelope" title="Email notifications enabled"></i>
            <% end %>
            <% if user_course.notifier_enabled?("SMS") then %>
              <i class="icon-comment" title="SMS notifications enabled"></i>
            <% end %>
          </td>
          <td>
            <%= link_to "Edit", edit_class_path(user_course.course), :class => "btn" %>
            <%= link_to "Cancel", {:controller => :classes, :action => :destroy, :id => user_course.course.id}, {:method => :delete, :confirm => "Are you sure you want to stop watching this class?", :class => "btn btn-danger"} %>
          </td>
        </tr>
      <% end %>
    </table>
  <% else %>
    You are not currently watching any classes.  Add one below.
  <% end %>
  <h2>Add a class</h2>
  <% if @terms.length > 0 %>
    <%= render(partial: "classes/course", object: Course.new, locals: { button_name: "Add", action: :create }) %>
  <% else %>
    There are no terms available right now.  Terms become available as soon as the schedule is published.
  <% end %>
<% else %>
  <div class="hero-unit">
   <h1>Get the class you need.</h1>
    <p>
      GetMyClass.com allows you to monitor a full class at your school and notifies you when a seat
      opens up, so you can grab it right as it opens up.
    </p>
    <p>
      To get started, enter your class information below:
    </p>
  </div>
  <h2>Add a class</h2>
  <% if @terms.length > 0 %>
    <%= render(partial: "classes/course", object: Course.new, locals: { button_name: "Add", action: :create }) %>
  <% else %>
    There are no terms available right now.  Terms become available as soon as the schedule is published.
  <% end %>
<% end %>
<% if @user %>
  <% @user.user_courses.each do |user_course| %>
    <% notifications = user_course.notifications %>
    <% if !notifications.empty? %>
      <div class="modal fade" id="notifications-modal-<%= user_course.id %>" style="display:none;">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">×</a>
          <h3>Notifications</h3>
        </div>
        <div class="modal-body">
          <table class="table">
            <thead>
              <tr>
                <th>Type</th>
                <th>When</th>
                <th>Status</th>
              </tr>
            </thead>
            <% notifications.each do |notification| %>
              <tr>
                <td>
                  <% if notification.type == "EMAIL" then %>
                    <i class="icon-envelope" title="Email"></i>
                  <% elsif notification.type == "SMS" then %>
                    <i class="icon-comment" title="SMS"></i>
                  <% end %>
                </td>
                <td><%= time_ago_in_words notification.notification_timestamp %> ago</td>
                <td><%= notification.status %></td>
              </tr>
            <% end %>
          </table>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
        </div>
      </div>
    <% end %>
  <% end %>
<% else %>
  <div class="center">
    <h3>Supported Schools</h3>
    <table class="schools-table">
  <% row_count = @schools.length/3
     row_count = row_count + 1 if @schools.length % 3 != 0
     logger.debug "row_count = #{row_count}"
     row_count.times do |i| %>
    <% (0..2).each do |j| %>
      <% if i*3+j < @schools.length %>
        <% if j == 0 %>
          <tr><td>
        <% else %>
          <td>
        <% end %>
        <%= @schools[i*3+j].name %></td>
        <% if j == 2 || i == @schools.length-1 %>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  </table>
  <div class="alert request-school">
    Don't see your school here? Contact <a href="mailto:support@GetMyClass.com">support@GetMyClass.com</a>
    and let us know you want your school added!
  </div>
</div>
<% end %>
