<h2>Settings</h2>
<%= form_for @user, :url => {:action => :update} do |f| %>
  <div class="row">
    <div class="span6">
      <h3>User Info</h3>
      <% if @user.errors.any? %>
        <div class="alert alert-error">
          <%= pluralize(@user.errors.count, "error") %> prohibited this post from being saved:
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= f.label :email, "Email Address" %>
      <%= f.text_field :email %>

      <%= f.label :phone, "Phone" %>
      <%= f.text_field :phone %>
      <span id="phone-errors"></span>

      <h3>Change Password</h3>
      <%= f.label :old_password, "Old Password" %>
      <div>
        <%= password_field_tag :old_password %>
      </div>
      <%= f.label :password, "New Password" %>
      <div>
        <%= password_field_tag :password %>
      </div>
      <%= f.label :confirm_password, "Confirm" %>
      <div>
        <%= password_field_tag :confirm_password %>
      </div>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit "Save", :class => "btn btn-primary" %>
  </div>
<% end %>

