<h2>Settings</h2>
<%= form_for @user, :url => {:action => :update} do |f| %>
  <div class="row">
    <div class="span6">
      <h3>User Info</h3>
      <%= f.error_messages :header_message => ""  %>
      <%= f.label :email, "Email Address" %>
      <%= f.text_field :email %>

      <%= f.label :old_password, "Change Password" %>
      <div>
        <%= password_field_tag :old_password %>
      </div>
      <div>
        <%= password_field_tag :password %>
      </div>
      <div>
        <%= password_field_tag :confirm_password %>
      </div>
      <%= f.label :phone, "Phone" %>
      <%= f.text_field :phone %>
    </div>
    <div class="span6">
      <h3>Notifications</h3>
      <% if @warning then
        style = ""
      else
        style = "display:none;"
      end %>
      <div class="alert" id="notifier-warnings" style="<%= style %>">
        <%= @warning %>
      </div>
      <% @notifiers.each do |notifier| %>
        <p>
          <%= check_box_tag "notifier_"+notifier.type, :on, @enabled_notifiers.include?(notifier.type) %>
          <%= label_tag "notifier_"+notifier.type, notifier.description %>
        </p>
      <% end %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit "Save", :class => "btn btn-primary" %>
  </div>
<% end %>

