<%= form_for course, :url => { :controller => "classes", :action => action } do |f| %>
  <%= label_tag :school_id, "School" %>
  <%= select_tag(:school_id, options_from_collection_for_select(School.active, :id, :name, @course.nil? ? nil : @course.term.school.id), :include_blank => true, "get-terms-url" => get_terms_url(":school_id")) %>
  <div id="school-specific">
    <a id="schedule-link" href="#" target="_blank">Find a Course</a>

    <%= f.label :term_id, "Term" %>
    <%= hidden_field_tag :current_term_id, course.term_id %>
    <%= f.select :term_id, Term.get_active_terms.map { |term| [term.name, term.id] } %>

    <label for="course_input_1">
      <span id="input-1-name">Course Number</span>
      <span id="course-number-help-button" class="hide">
        <a href="#course-number-help" data-toggle="modal">?</a>
      </span>
    </label>
    <%= f.text_field :input_1, "lookup-url" => lookup_class_url(":school_id", ":term_id", ":inputs") %>
    <%= image_tag "spinner.gif", :id => "spinner" %>
    <span id="courseName"></span>

    <div id="input-2-container" style="display: none;">
      <label for="course_input_2">
        <span id="input-2-name"></span>
      </label>
      <%= f.text_field :input_2 %>
    </div>

    <div id="input-3-container" style="display: none;">
      <label for="course_input_3">
        <span id="input-3-name"></span>
      </label>
      <%= f.text_field :input_3 %>
    </div>

    <% Notifiers.each_value do |notifier| %>
      <p>
        <label id="notifier_<%= notifier.type %>" class="checkbox">
          <%= notifier.description %>
          <% if notifier.premium %>
            <a href="#" rel="tooltip" title="This type of notification is a premium feature and will require you to upgrade the course for $2.99">$</a>
          <% end %>
          <%= check_box_tag "notifier_"+notifier.type, :on, @enabled_notifiers.include?(notifier.type) %>
        </label>
      </p>
    <% end %>
    <% if !button_name.nil? %>
      <div class="form-actions">
        <%= f.submit button_name, :class => "btn btn-primary" %>
      </div>
    <% end %>
  </div>
  <div id="course-number-help" class="modal hide">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>Help</h3>
    </div>
    <div class="modal-body" id="course-number-help-content"></div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>
  </div>
<% end %>
