<%= form_for course, :url => { :controller => "classes", :action => action } do |f| %>
  <%= f.label :term_id, "Term" %>
  <%= f.select :term_id, @terms %>
  <%= f.label :course_number, "Course Number" %>
  <%= f.text_field :course_number %>
  <%= image_tag "spinner.gif", :id => "spinner" %>
  <span id="courseName"></span>
  <div class="form-actions">
    <%= f.submit button_name, :class => "btn btn-primary" %>
  </div>
<% end %>
