<a href="https://webapp4.asu.edu/catalog/" target="_blank">Find a Course</a>

<%= form_for course, :url => { :controller => "classes", :action => action } do |f| %>
  <%= f.label :term_id, "Term" %>
  <%= f.select :term_id, @terms %>
  <%= f.label :course_number, "Course Number" %>
  <%= f.text_field :course_number %>
  <%= image_tag "spinner.gif", :id => "spinner" %>
  <span id="courseName"></span>
  <% Notifiers.each_value do |notifier| %>
    <p>
      <%= check_box_tag "notifier_"+notifier.type, :on, @enabled_notifiers.include?(notifier.type) %>
      <%= label_tag "notifier_"+notifier.type, notifier.description, :class => "checkbox" %>
    </p>
  <% end %>
  <div class="form-actions">
    <%= f.submit button_name, :class => "btn btn-primary" %>
  </div>
<% end %>
