Your classes:

<table>
  <% @courses.each do |course| %>
    <tr>
      <td><%= course.course_number %></td>
    </tr>
  <% end %>
</table>

Add a course:
<%= form_for Course.new, :url => { :action => "create" } do |f| %>
  <div>
    <%= f.label :course_number, "Course Number" %><br/>
    <%= f.text_field :course_number %>
  </div>
  <%= submit_tag "Add" %>

<% end %>
