<!DOCTYPE html>
<html lang="en">
<head>
  <title>Classwatch</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#">Classwatch</a>
        <div class="nav-collapse">
          <ul class="nav pull-right">
            <% if user_signed_in? %>
              <li><a href="#"><%= current_user.email %></a></li>
              <li><%= link_to "Settings", settings_index_path %></li>
              <li><%= link_to "Log out", destroy_user_session_path, :method => :delete %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <% if notice then %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert then %>
      <p class="alert"><%= alert %></p>
    <% end %>
    <% if flash[:error] %>
      <p class="error"><%= flash[:error] %></p>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
